<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Golang HTMX</title>
    <script src="https://unpkg.com/htmx.org@2.0.4" integrity="sha384-HGfztofotfshcF7+8n44JQL2oJmowVChPTg48S+jvZoztPfvwD79OC/LTtG6dMp+"
        crossorigin="anonymous"></script>
</head>

<body>
    <h1>Hello</h1>
    <ul id="todo-list">
        {{range .todos}} {{block "todo-list-element" .}}
        <li>{{.Title}}</li>
        {{end}} {{end}}
    </ul>
    <form hx-swap="beforeend" hx-target="#todo-list" hx-post="/add-todo">
        <label for="title">Title:</label>
        <input type="text" id="title" name="title">
        <button type="submit">Add</button>
    </form>
</body>

</html>