<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Text Playground</title>
    <script src="https://unpkg.com/htmx.org@2.0.4" integrity="sha384-HGfztofotfshcF7+8n44JQL2oJmowVChPTg48S+jvZoztPfvwD79OC/LTtG6dMp+"
        crossorigin="anonymous"></script>
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
</head>

<body>
    <h1 class="text-3xl font-bold">Text Playground</h1>
    <div class="flex p-4">
        <div class="flex flex-row flex-1">
            <div class="flex-1">
                <form hx-post="/text-query" hx-target="#output" hx-swap="beforeend">
                    <div class="flex-col">
                        <div class="flex-1"></div>
                        <label for="input-text">Text to analyze:</label>
                        <textarea id="input-text" name="input-text" rows="10" cols="35">{{.Text}}</textarea>

                        <div class="flex-1">
                            <label for="remove-badwords">Remove Bad Words:</label>
                            <input type="checkbox" id="remove-badwords" name="remove-badwords">
                        </div>
                        <div class="flex-1">
                            <label for="punctuation">Punctuation:</label>
                            <input type="checkbox" id="punctuation" name="punctuation">
                        </div>
                        <div class="flex-1">
                            <label for="detect-language">Detect Language:</label>
                            <input type="checkbox" id="detect-language" name="detect-language">
                        </div>
                        <div class="flex-1">
                            <label for="strip-tags">Strip HTML Tags:</label>
                            <input type="checkbox" id="strip-tags" name="strip-tags">
                        </div>
                    </div>
                    <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Process</button>
                </form>
            </div>
            <div class="flex-1">
                <div>
                    <h1>Found words (click to found synonyms)</h1>
                    <div class="flex flex-col">
                        {{range .Words}}
                        <button class="bg-gray-200 hover:bg-gray-400 text-black font-bold py-1 px-2 rounded mt-1" hx-post="/word-query?word={{.}}"
                            hx-target="#output" hx-swap="beforeend"> {{.}}</button>
                        {{end}}

                    </div>
                </div>
            </div>
        </div>
        <div class="flex-1">
            <h2>Outputs</h2>
            <ul id="output" class="flex flex-col">
                {{range .Outputs}} {{block "output-list-element" .}}
                <div class="flex-1 border border-gray-300 p-2">
                    <h3>{{.Title}}</h3>
                    {{if .Definitions}}
                    <h3>Definitions:</h3>
                    <ul>
                        {{range .Definitions}}
                        <li>{{.}}</li>
                        {{end}}
                    </ul>
                    {{end}}
                    {{if .Synonyms}}
                    <h3>Synonyms:</h3>
                    <ul>
                        {{range .Synonyms}}
                        <li>{{.}}</li>
                        {{end}}
                    </ul>
                    {{end}}
                    {{if .CleanedText}}
                    <h3>Cleaned Text:</h3>
                    <div>{{.CleanedText}}</div>
                    {{end}}
                    {{if .Language}}
                    <h3>Language:</h3>
                    <div>{{.Language}}</div>
                    {{end}}
                </div>
                {{end}} {{end}}
            </ul>
        </div>
    </div>
</body>

</html>